/* 
==============================================
CONTENT:	Cassandra Wordpress Portfolio Site
AUTHOR:		Cassandra Desrosiers
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

@font-face{
  font-family: "Pretty Pen";
  		src: url("../fonts/Pretty-Pen-Regular.ttf") format("ttf"),

};

$breakpoint-tablet: 960px;
$breakpoint-mobile: 550px;
$breakpoint-smallcomp: 1080px;
$Lato: "Lato", sans-serif;
$Muli: "Muli", sans-serif;
$Playfair: "Playfair Display", serif;
// $PrettyPen: "PrettyPen", sans-serif;
$grey: #555555;
$blue: #74cad3;
$text-color: #040404;
/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	width: 100%;
	margin: 0 auto;

	
}

/* 2. Content ================================= */

.logo{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 999999;
	img{
		width: 50px;
		height: 50px;
	}



}
.hamburger{
	position: fixed;
	z-index: 9999999;
	right: 10px;
	top: 10px;
	span{
		display: block;
		height: 3px;
		width: 30px;
		margin-bottom: 3px;
		background-color: #000;
	}
}

nav{

	h1{
		transform: rotate(90deg);
		font-weight: bold;
		letter-spacing: 0.5em;
		margin-left: 80px;
		text-transform: uppercase;

	}
	font-size: .8em;
	position: fixed;
	width: 130px;
	background-color: $blue;
	height: 450px;
	top: 50%;
	z-index: 9999999;
	transform: translateY(-50%);
	transition: .5s;
	font-family: $Muli;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	@media (max-width: $breakpoint-tablet) {
		top: 30%;	
		transform: translatex(-100%);	
		&.active{
			transform: translatex(0);	
		}	
	}

	ul {
		margin-top: 140px;
		li{
			margin-bottom: 20px;
			a{
				text-decoration: none;
				color: $grey;
			}
		}
	}
}
.social-icons{
	display: flex;
	list-style: none;
	text-decoration: none;
	justify-content: space-around;
	i{
		color : #fff;
	}
}
.home{
	display: none;
	width: 100%;
	height: 100vh;
	background-image: url(../img/home-bg.jpg); 
	background-repeat:no-repeat; 
	background-size: cover;
	background-position: center;
	color: $text-color;
	box-shadow: inset 10px 10px 300px 200px rgba(255,255,255,0.81);
	// position: relative;

	.white-center-box{
			transform: translate(-50%, -50%);
		    left: 50%;
		    top: 50%;
		    width: 80%;
		    height: 70vh;
		    background-color: #fff;
		    position: absolute;
		    padding: 20px;
		

		
		.subtitle{
			font-family: "Pretty Pen";

		}
		.title{
			font-family: "Playfair Display", serif;
			font-size: 4rem;
			width: 100px;
			position: absolute;
			top: 35%;
			left: 15%;
			transition: .5s;
			span{
				padding-left: 40px;
			}
			@media (max-width: 1260px) {
				left: 5%;
			}
			@media (max-width: $breakpoint-smallcomp) {
				font-size: 3rem;
			}
			@media (max-width: $breakpoint-tablet) {
				font-size: 2.5rem;
			}
			@media (max-width: $breakpoint-mobile){
				font-size: 3rem;
				top: 15%;
			}
		}
		.scroll{
			font-family: "Lato", sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			font-size: .8em;
			bottom: 10px;
			width: 68px;
			height: 40px;
			position: absolute;
			right: 55%;
			letter-spacing: 0.08em;
			@media (max-width: $breakpoint-smallcomp) {
				visibility:hidden;
			}
			@media (max-width: $breakpoint-mobile) {
				visibility: visible;
				z-index: 999999;
				width: 207px;
				font-weight: bold;
				letter-spacing: 0.2em;
				font-size: 1rem;
				bottom: -15%;
				right: 0;
				
			}
		}
		.home-image{
			background-image: url(../img/home-image.jpg); 
			background-repeat:no-repeat; 
			background-size: cover;
			background-position: center;
			bottom: -10%;
			width: 40%;
			height: 100%;
			position: absolute;
			right: 10%;
			
			@media (max-width: $breakpoint-tablet) {
				width: 50%;
				
				
			}
			@media (max-width: $breakpoint-mobile) {
				width: 80%;
				height: 80%;
				right: -20px;
				bottom: -100px;
			}
		}
	}		
}


@media (min-width: $breakpoint-tablet) {
	.no-desktop{
		display: none;
	}

}

.wrapper{
	height: 100%;
	display: flex;
	flex-direction: row;
   	padding: 10% 5% 7% 15%;
   	font-size: .9rem;
   	font-family: $Muli;
	@media (max-width: $breakpoint-tablet) {
		flex-direction: column;
		align-items: center;
		padding: 10% 5% 7% 5%;

	}
}

.about{
	display: none;
	background-color: #fff;
	width: 100%;
	height: 135vh;

	@media (max-width: $breakpoint-tablet) {
		height: auto;
	}	
   	.about-main-text{
   		padding: 0 4%;
   		h1{
   			font-family: "Pretty Pen";
   			margin-bottom: 30px;
   			font-size: 60px;
   		}
		p{
			margin-bottom: 60px;
			line-height: 22px;
		}
		@media (max-width: $breakpoint-tablet) {
			width: 100%;
		
		}
		.images{
			display: flex;
			flex-direction: row;
			width:100%;
			height: 30vh;
			transition: .5s;
			@media (max-width: $breakpoint-tablet) {
				flex-direction: column;
				height: 100vh;

			}
			.image{
				background-color: green;
				
				
			}
			.image1{
				width: 35%;
				margin-right: 5%;
				@media (max-width: $breakpoint-tablet) {
					width: 100%;
					height: 60%;
					margin: 0 0 40px 0;

			
				}
			}
			.image2{
				width: 60%;
				@media (max-width: $breakpoint-tablet) {
					width: 100%;
					height: 35%;

			
				}
			}
		}
		.quote{
			font-family: "Lato", sans-serif;
			margin-top: 60px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .3em;
			font-size: .8em;
		}
   	}

   	.about-aside{
   		display: flex;
   		flex-direction: column;
   		width: 40%;
   		padding: 0 4%;
   		border-left: 1px solid #000;
		@media (max-width: $breakpoint-tablet) {
			width: 100%;
			border-top: 1px solid #000;
			border-left: none;
			padding: 3%;

			.content p{ 

				line-height: 22px;
			}
		}
   		.content h2{
   			font-family: "Lato", sans-serif;
   			text-transform: uppercase;
   			font-size: .7em;
   			padding-bottom: 20px;

		}
   		.love{
   			margin-bottom: 100px;
			@media (max-width: $breakpoint-tablet) {
   			   	margin: 20px 0 60px 0;
   			}
   		}
   	}
}

.quote-break{
	display: none;
	background-image: url(../img/quote-break-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	height: 100vh;
	width: 100%;
	color: $text-color;
	.text-block{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $blue;
		width: 55vh;
		height: 45vh;
		text-align: center;
		padding: 100px;

		@media (max-width: $breakpoint-mobile) {
			width: 35vh;
			height: 25vh;
			padding: 20px;


		}

		h1{
			font-family: "Pretty Pen";
			font-size: 60px;
			@media (max-width: $breakpoint-mobile) {
				font-size: 20px;
			}
		}
		p{
			font-family: $Lato;
			font-size: .9em;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 26px;
			margin: 18% 0 10% 0;

			@media (max-width: $breakpoint-mobile) {
				font-size: .5em;
				line-height: 20px;
			}

		}
		a{
			text-transform: uppercase;
			font-family: "Oswald", sans-serif;
			text-decoration: none;
			color: $text-color;
			font-size: .7em;
		}
	}
}



.booking{
	display: none;
	background-color: #fff;
	width: 100%;
	height: 80vh;

	.image{
		min-width: 35%;
		height: 55vh;
		background-color: yellow;
		margin-right: 100px;
		@media (max-width: $breakpoint-tablet) {
		}
		@media (max-width: $breakpoint-mobile) {
			width: 100%;
		}
	}
	.booking-main-text{
		width: 50%;
		h1{
			font-family: "Pretty Pen", cursive;
			font-size: 60px;
			margin-bottom: 40px;
		}
		p{
			margin-bottom: 30px;
			font-family: $Muli;
			line-height: 22px;
			font-size: .9em;
		}
		@media (max-width: $breakpoint-tablet) {
			width: 100%;
		}

	}
}



// .contact{
// 	background-color: #fff;
// 	width: 100%;
// 	height: 60vh;

// 	@media (max-width: $breakpoint-tablet) {
// 		height: auto;
// 	}	
//    	.contact-main-text{
//    		padding: 0 4%;
//    		h1{
//    			font-family: "Pretty Pen";
//    			margin-bottom: 30px;
//    			font-size: 60px;
//    		}
		
// 		@media (max-width: $breakpoint-tablet) {
// 			width: 100%;
		
// 		}
//    	}

//    	.contact-aside{
//    		display: flex;
//    		flex-direction: column;
//    		width: 40%;
//    		padding: 0 4%;
//    		border-left: 1px solid #000;
// 		@media (max-width: $breakpoint-tablet) {
// 			width: 100%;
// 			border-top: 1px solid #000;
// 			border-left: none;
// 			padding: 3%;

// 			.content p{ 

// 				line-height: 22px;
// 			}
// 		}
//    		.content h2{
//    			font-family: "Lato", sans-serif;
//    			text-transform: uppercase;
//    			font-size: .7em;
//    			padding-bottom: 20px;

// 		}
//    		.love{
//    			margin-bottom: 100px;
// 			@media (max-width: $breakpoint-tablet) {
//    			   	margin: 20px 0 60px 0;
//    			}
//    		}
//    	}
// }































